@import "global";

.container_gallery {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    //margin-top: 20px;
    padding: 20px 20px;
    background-color: $light;
  }
  
  .gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 20px;
  
    img {
      width: 100%;
      min-height: 275px;
      background-position: center;
      background-size: cover;
    }
  }

  /* responsive settings section */
  @media screen and (max-width: 800px) {
    .container_gallery {
        margin-top: 80px;
      }

    .gallery {
        gap: 10px;
      }

  }