@import url("https://fonts.googleapis.com/css?family=Mountains+of+Christmas");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: 2px;
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #F2F7FF;
  font-family: "Rubik", sans-serif;
}

.highlight {
  color: #FFCE63;
}

footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  padding: 10px;
  background-color: #10316B;
}
footer h3 {
  font-size: 1em;
  font-weight: 700;
  color: #F2F7FF;
}

.button {
  font-size: 18px;
  letter-spacing: 2px;
  display: inline-block;
  text-align: center;
  font-weight: bold;
  padding: 0.7em 2em;
  border-radius: 5px;
  position: relative;
  box-shadow: 0 2px 15px rgba(224, 222, 222, 0.16), 0 3px 6px rgba(224, 222, 222, 0.1);
  color: #F2F7FF;
  background-color: #10316B;
  text-decoration: none;
  transition: 0.3s ease all;
  z-index: 1;
}
.button:before {
  transition: 0.5s all ease;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  content: "";
  background-color: #0B409C;
  border-radius: 5px;
  z-index: -1;
}
.button:hover, .button:focus {
  color: white;
}
.button:hover:before, .button:focus:before {
  transition: 0.5s all ease;
  left: 0;
  right: 0;
  opacity: 1;
}
.button:active {
  transform: scale(0.9);
}

/* responsive settings section */
@media screen and (max-width: 800px) {
  footer {
    flex-direction: column;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: 2px;
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #F2F7FF;
  font-family: "Rubik", sans-serif;
}

.highlight {
  color: #FFCE63;
}

footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  padding: 10px;
  background-color: #10316B;
}
footer h3 {
  font-size: 1em;
  font-weight: 700;
  color: #F2F7FF;
}

.button {
  font-size: 18px;
  letter-spacing: 2px;
  display: inline-block;
  text-align: center;
  font-weight: bold;
  padding: 0.7em 2em;
  border-radius: 5px;
  position: relative;
  box-shadow: 0 2px 15px rgba(224, 222, 222, 0.16), 0 3px 6px rgba(224, 222, 222, 0.1);
  color: #F2F7FF;
  background-color: #10316B;
  text-decoration: none;
  transition: 0.3s ease all;
  z-index: 1;
}
.button:before {
  transition: 0.5s all ease;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  content: "";
  background-color: #0B409C;
  border-radius: 5px;
  z-index: -1;
}
.button:hover, .button:focus {
  color: white;
}
.button:hover:before, .button:focus:before {
  transition: 0.5s all ease;
  left: 0;
  right: 0;
  opacity: 1;
}
.button:active {
  transform: scale(0.9);
}

/* responsive settings section */
@media screen and (max-width: 800px) {
  footer {
    flex-direction: column;
  }
}
.scrolldown {
  --color: $secondary;
  --sizeX: 30px;
  --sizeY: 50px;
  position: relative;
  width: var(--sizeX);
  height: var(--sizeY);
  margin-left: var(sizeX/2);
  border: calc(var(--sizeX) / 10) solid var(--color);
  border-radius: 50px;
  box-sizing: border-box;
  cursor: pointer;
}

.scrolldown::before {
  content: "";
  position: absolute;
  bottom: 30px;
  left: 50%;
  width: 6px;
  height: 6px;
  margin-left: -3px;
  background-color: var(--color);
  border-radius: 100%;
  animation: scrolldown-anim 2s infinite;
  box-sizing: border-box;
  box-shadow: 0px -5px 3px 1px rgba(42, 84, 112, 0.4);
}

@keyframes scrolldown-anim {
  0% {
    opacity: 0;
    height: 6px;
  }
  40% {
    opacity: 1;
    height: 10px;
  }
  80% {
    transform: translate(0, 20px);
    height: 10px;
    opacity: 0;
  }
  100% {
    height: 3px;
    opacity: 0;
  }
}
.chevrons {
  padding: 6px 0 0 0;
  margin-left: -3px;
  margin-top: 48px;
  width: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chevrondown {
  margin-top: -6px;
  position: relative;
  border: solid var(--color);
  border-width: 0 3px 3px 0;
  display: inline-block;
  width: 10px;
  height: 10px;
  transform: rotate(45deg);
}

.chevrondown:nth-child(odd) {
  animation: pulse54012 500ms ease infinite alternate;
}

.chevrondown:nth-child(even) {
  animation: pulse54012 500ms ease infinite alternate 250ms;
}

@keyframes pulse54012 {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.5;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: 2px;
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #F2F7FF;
  font-family: "Rubik", sans-serif;
}

.highlight {
  color: #FFCE63;
}

footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  padding: 10px;
  background-color: #10316B;
}
footer h3 {
  font-size: 1em;
  font-weight: 700;
  color: #F2F7FF;
}

.button {
  font-size: 18px;
  letter-spacing: 2px;
  display: inline-block;
  text-align: center;
  font-weight: bold;
  padding: 0.7em 2em;
  border-radius: 5px;
  position: relative;
  box-shadow: 0 2px 15px rgba(224, 222, 222, 0.16), 0 3px 6px rgba(224, 222, 222, 0.1);
  color: #F2F7FF;
  background-color: #10316B;
  text-decoration: none;
  transition: 0.3s ease all;
  z-index: 1;
}
.button:before {
  transition: 0.5s all ease;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  content: "";
  background-color: #0B409C;
  border-radius: 5px;
  z-index: -1;
}
.button:hover, .button:focus {
  color: white;
}
.button:hover:before, .button:focus:before {
  transition: 0.5s all ease;
  left: 0;
  right: 0;
  opacity: 1;
}
.button:active {
  transform: scale(0.9);
}

/* responsive settings section */
@media screen and (max-width: 800px) {
  footer {
    flex-direction: column;
  }
}
.socket {
  width: 100%;
  height: 100%;
  position: relative;
}

.hex-brick {
  background: #000000;
  width: 30px;
  height: 17px;
  position: absolute;
  top: 5px;
  animation-name: fade00;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  -webkit-animation-name: fade00;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
}

.h2 {
  transform: rotate(60deg);
  -webkit-transform: rotate(60deg);
}

.h3 {
  transform: rotate(-60deg);
  -webkit-transform: rotate(-60deg);
}

.gel {
  height: 30px;
  width: 30px;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  position: absolute;
  top: 50%;
  left: 50%;
}

.center-gel {
  margin-left: -15px;
  margin-top: -15px;
  animation-name: pulse00;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  -webkit-animation-name: pulse00;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
}

.c1 {
  margin-left: -47px;
  margin-top: -15px;
}

.c2 {
  margin-left: -31px;
  margin-top: -43px;
}

.c3 {
  margin-left: 1px;
  margin-top: -43px;
}

.c4 {
  margin-left: 17px;
  margin-top: -15px;
}

.c5 {
  margin-left: -31px;
  margin-top: 13px;
}

.c6 {
  margin-left: 1px;
  margin-top: 13px;
}

.c7 {
  margin-left: -63px;
  margin-top: -43px;
}

.c8 {
  margin-left: 33px;
  margin-top: -43px;
}

.c9 {
  margin-left: -15px;
  margin-top: 41px;
}

.c10 {
  margin-left: -63px;
  margin-top: 13px;
}

.c11 {
  margin-left: 33px;
  margin-top: 13px;
}

.c12 {
  margin-left: -15px;
  margin-top: -71px;
}

.c13 {
  margin-left: -47px;
  margin-top: -71px;
}

.c14 {
  margin-left: 17px;
  margin-top: -71px;
}

.c15 {
  margin-left: -47px;
  margin-top: 41px;
}

.c16 {
  margin-left: 17px;
  margin-top: 41px;
}

.c17 {
  margin-left: -79px;
  margin-top: -15px;
}

.c18 {
  margin-left: 49px;
  margin-top: -15px;
}

.c19 {
  margin-left: -63px;
  margin-top: -99px;
}

.c20 {
  margin-left: 33px;
  margin-top: -99px;
}

.c21 {
  margin-left: 1px;
  margin-top: -99px;
}

.c22 {
  margin-left: -31px;
  margin-top: -99px;
}

.c23 {
  margin-left: -63px;
  margin-top: 69px;
}

.c24 {
  margin-left: 33px;
  margin-top: 69px;
}

.c25 {
  margin-left: 1px;
  margin-top: 69px;
}

.c26 {
  margin-left: -31px;
  margin-top: 69px;
}

.c27 {
  margin-left: -79px;
  margin-top: -15px;
}

.c28 {
  margin-left: -95px;
  margin-top: -43px;
}

.c29 {
  margin-left: -95px;
  margin-top: 13px;
}

.c30 {
  margin-left: 49px;
  margin-top: 41px;
}

.c31 {
  margin-left: -79px;
  margin-top: -71px;
}

.c32 {
  margin-left: -111px;
  margin-top: -15px;
}

.c33 {
  margin-left: 65px;
  margin-top: -43px;
}

.c34 {
  margin-left: 65px;
  margin-top: 13px;
}

.c35 {
  margin-left: -79px;
  margin-top: 41px;
}

.c36 {
  margin-left: 49px;
  margin-top: -71px;
}

.c37 {
  margin-left: 81px;
  margin-top: -15px;
}

.r1 {
  animation-name: pulse00;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-delay: 0.2s;
  -webkit-animation-name: pulse00;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-delay: 0.2s;
}

.r2 {
  animation-name: pulse00;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-delay: 0.4s;
  -webkit-animation-name: pulse00;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-delay: 0.4s;
}

.r3 {
  animation-name: pulse00;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-delay: 0.6s;
  -webkit-animation-name: pulse00;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-delay: 0.6s;
}

.r1 > .hex-brick {
  animation-name: fade00;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-delay: 0.2s;
  -webkit-animation-name: fade00;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-delay: 0.2s;
}

.r2 > .hex-brick {
  animation-name: fade00;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-delay: 0.4s;
  -webkit-animation-name: fade00;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-delay: 0.4s;
}

.r3 > .hex-brick {
  animation-name: fade00;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-delay: 0.6s;
  -webkit-animation-name: fade00;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-delay: 0.6s;
}

@keyframes pulse00 {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.01);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes fade00 {
  0% {
    background: #0B409C;
  }
  50% {
    background: #10316B;
  }
  100% {
    background: #0B409C;
  }
}
#hero {
  width: 100%;
  height: 75vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  padding: 20px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url("bg-images/taurus2.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
#hero #content {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1.5em;
}
#hero #content #main h2 {
  color: #c84257;
  font-family: "Mountains of Christmas";
  text-align: center;
  font-size: 3em;
}
#hero #content #main h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 7em;
  font-weight: 800;
  text-align: center;
  color: #F2F7FF;
}
#hero #content #main ul {
  display: flex;
  align-items: center;
  justify-content: center;
}
#hero #content #main ul li {
  list-style: none;
  font-size: 1.5em;
  font-weight: 700;
  color: #F2F7FF;
  text-align: center;
}
#hero #content #cta {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  gap: 2em;
}
#hero #content #cta #shop-btn a {
  text-decoration: none;
  color: #fff;
}
#hero #content #cta #shop-btn a button {
  cursor: pointer;
  font-weight: 700;
  transition: all 0.2s;
  padding: 5px 10px;
  border-radius: 5px;
  background: #10316B;
  border: 1px solid transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  width: 16rem;
  color: #ffffff;
}
#hero #content #cta #shop-btn a button:hover {
  background: #0B409C;
}
#hero #content #cta #shop-btn a button > svg {
  width: 34px;
  margin-left: 10px;
  transition: transform 0.3s ease-in-out;
}
#hero #content #cta #shop-btn a button:hover svg {
  transform: translateX(5px);
}
#hero #content #cta #shop-btn a button:active {
  transform: scale(0.95);
}
#hero #illustration {
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#hero #illustration img {
  width: 100%;
  height: 100%;
}

#partners {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
}
#partners h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  font-weight: 800;
  padding: 5px 15px;
  text-align: center;
  color: #0B409C;
  border-left: 4px solid #FFCE63;
  margin: 20px 0;
}
#partners #main {
  width: 100%;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}
#partners #main img {
  width: 53%;
  aspect-ratio: 3/2;
  -o-object-fit: contain;
     object-fit: contain;
}

#about {
  max-width: 100vw;
  height: 85vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  background-color: #10316B;
}
#about #content {
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)), url("bg-images/bullet-holes.svg");
  background-size: cover;
}
#about #content h1 {
  display: flex;
  align-items: center;
  font-size: 2em;
  font-weight: 800;
  padding: 5px 15px;
  text-align: left;
  color: #F2F7FF;
  border-left: 4px solid #FFCE63;
  margin: 20px 0;
}
#about #content p {
  text-align: left;
  font-size: 1.3em;
  font-weight: 500;
  padding: 10px;
  color: #F2F7FF;
}
#about #illustration {
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#about #illustration img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 3/2;
  opacity: 0.7;
}

#contact-us {
  width: 100%;
  height: -moz-max-content;
  height: max-content;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  background: #F2F7FF;
  padding: 20px;
}
#contact-us .title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#contact-us .title h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  font-weight: 800;
  padding: 5px 15px;
  text-align: center;
  color: #10316B;
  border-left: 4px solid #FFCE63;
}
#contact-us #form-map {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  height: 85vh;
  background-image: url("bg-images/bullet-holes.svg");
  background-size: contain;
}
#contact-us #form-map #form {
  width: 50%;
  height: 100%;
  padding: 20px;
  grid-area: form;
  border-radius: 10px;
}
#contact-us #form-map #form .formBox {
  position: relative;
  width: 100%;
}
#contact-us #form-map #form .formBox .row50 {
  display: flex;
  gap: 10px;
}
#contact-us #form-map #form .formBox .row50 .inputBox {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  width: 50%;
}
#contact-us #form-map #form .formBox .row50 .inputBox span {
  color: #0B409C;
  margin: 10px 10px 10px 0;
  font-weight: bold;
}
#contact-us #form-map #form .formBox .row50 .inputBox input {
  padding: 10px;
  font-size: 1.3em;
  outline: none;
  border: 1px solid #10316B;
  border-radius: 5px;
}
#contact-us #form-map #form .formBox .row100 {
  width: 100%;
}
#contact-us #form-map #form .formBox .row100 .inputBox {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  width: 100%;
}
#contact-us #form-map #form .formBox .row100 .inputBox span {
  color: #0B409C;
  margin: 10px 10px 10px 0;
  font-weight: bold;
}
#contact-us #form-map #form .formBox .row100 .inputBox input {
  padding: 10px;
  font-size: 1.3em;
  outline: none;
  border: 1px solid #10316B;
  border-radius: 5px;
}
#contact-us #form-map #form .formBox .row100 .inputBox textarea {
  padding: 10px;
  font-size: 1.3em;
  outline: none;
  border: 1px solid #10316B;
  border-radius: 5px;
  resize: none;
  min-height: 120px;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}
#contact-us #form-map #form .formBox .row100 .inputBox .send {
  width: 30%;
  border: none;
}
#contact-us #form-map #map {
  width: 50%;
  height: 100%;
  padding: 20px;
}
#contact-us #form-map #map .map {
  filter: grayscale(100%) invert(90%) contrast(83%);
}
#contact-us #main {
  width: 100%;
  height: -moz-max-content;
  height: max-content;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: row;
  background: #10316B;
  padding: 20px;
  gap: 2rem;
}
#contact-us #main #contact {
  width: 70%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  color: #F2F7FF;
  font-size: 1em;
  font-weight: 700;
}
#contact-us #main #contact h3 {
  font-weight: 800;
  padding: 10px 0;
  color: #FFCE63;
}
#contact-us #main #contact #emails {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
#contact-us #main #contact #emails div {
  display: flex;
  align-items: left;
  justify-content: center;
  flex-direction: column;
  gap: 0.5rem;
}
#contact-us #main #socials {
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  /* for all social containers*/
  /* instagram*/
  /* twitter*/
  /* linkdin*/
  /* Whatsapp*/
}
#contact-us #main #socials h3 {
  font-weight: 800;
  padding: 10px 0;
  color: #FFCE63;
}
#contact-us #main #socials .card {
  width: 90%;
  height: 100%;
  background-color: #F2F7FF;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 15px;
  gap: 15px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.055);
}
#contact-us #main #socials .socialContainer {
  width: 52px;
  height: 52px;
  background-color: #10316B;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition-duration: 0.3s;
}
#contact-us #main #socials .containerOne:hover {
  background-color: #d62976;
  transition-duration: 0.3s;
}
#contact-us #main #socials .containerTwo:hover {
  background-color: #00acee;
  transition-duration: 0.3s;
}
#contact-us #main #socials .containerThree:hover {
  background-color: #0072b1;
  transition-duration: 0.3s;
}
#contact-us #main #socials .containerFour:hover {
  background-color: #128C7E;
  transition-duration: 0.3s;
}
#contact-us #main #socials .socialContainer:active {
  transform: scale(0.9);
  transition-duration: 0.3s;
}
#contact-us #main #socials .socialSvg {
  width: 17px;
}
#contact-us #main #socials .socialSvg path {
  fill: rgb(255, 255, 255);
}
#contact-us #main #socials .socialContainer:hover .socialSvg {
  animation: slide-in-top 0.3s both;
}
@keyframes slide-in-top {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
#contact-us #main #quick-links {
  width: 25%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
#contact-us #main #quick-links h3 {
  font-weight: 800;
  padding: 10px 0;
  color: #F2F7FF;
}
#contact-us #main #quick-links div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 0.5rem;
}
#contact-us #main #quick-links div a {
  text-decoration: none;
  font-size: 1.4vw;
  font-weight: 700;
  color: #F2F7FF;
}

.products {
  width: 100%;
  height: 100%;
  padding: 20px;
}

/* responsive settings section */
@media screen and (max-width: 800px) {
  #hero #content #main h2 {
    font-size: 2em;
  }
  #hero #content #main h1 {
    font-size: 3.8em;
  }
  #hero #content #main ul li {
    font-size: 1.5em;
  }
  #hero #content #cta {
    flex-direction: column;
  }
  #partners #main {
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    flex-direction: column;
  }
  #partners #main img {
    width: 53%;
  }
  #about {
    height: 100%;
    flex-direction: row;
  }
  #about #content {
    width: 100%;
    height: -moz-fit-content;
    height: fit-content;
  }
  #about #illustration {
    display: none;
  }
  #contact-us #form-map {
    height: 120vh;
    flex-direction: column;
  }
  #contact-us #form-map #form {
    width: 100%;
  }
  #contact-us #form-map #form .formBox .row50 {
    flex-direction: column;
  }
  #contact-us #form-map #form .formBox .row50 .inputBox {
    width: 100%;
  }
  #contact-us #form-map #map {
    width: 100%;
  }
  #contact-us #main {
    width: 100%;
    flex-direction: column;
  }
  #contact-us #main #contact {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  #contact-us #main #contact #phone {
    text-align: center;
    align-items: center;
  }
  #contact-us #main #contact #emails {
    text-align: center;
    align-items: center;
  }
  #contact-us #main #socials {
    align-items: center;
    width: 100%;
  }
}/*# sourceMappingURL=main.css.map */